<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IT Helpdesk Selenium Suite" verbose="1">
    <test name="Login">
        <classes>
            <class name="com.ithelpdesk.LoginSeleniumTest"/>
        </classes>
    </test>
    <test name="TicketReport">
        <classes>
            <class name="com.ithelpdesk.TicketReportSeleniumTest"/>
        </classes>
    </test>
</suite>
